{% extends 'base.html' %}
{% block content %}
    


    <form method="POST" action="{% url 'register'%}">
        {% csrf_token %}
        
        <input placeholder="Username" type="text" id="id_username" name="username" required><br><br>
        
        <input placeholder="Password" type="password" id="id_password1" name="password1" required><br><br>
        
        
        <input placeholder="Confirm password" type="password" id="id_password2" name="password2" required><br><br>

        
        <input placeholder="Email:" type="email" id="id_email" name="email" required><br><br>
        
        
        <input type="submit" value="Login">
    </form>


{% endblock %}